
/* GRIGLIA */
.grid {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    column-gap: 2%;
}
.scheda {
    overflow: hidden;
    position: relative;
    width: 32%;
    background-position: center;
    margin-bottom: 1%;
    border-radius: 1rem;
    border: var(--shade1) 3px solid;
    padding-top: 20%;
    transition: padding-top 200ms ease-in-out, width 200ms ease-in-out;
}
.dark .scheda {
    border: var(--shade8) 3px solid;
}
.backgroundScheda {
    z-index: -1;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}
.scheda:hover {
    width: 45.5%;
}
.grid:has(.scheda:hover) > .scheda{
    padding-top: 30%;
}
.grid:has(.scheda:hover) .scheda:not(:hover) {
    width: 25.5%;
}
div:has(.grid .scheda:hover) > .grid:not(:has(.scheda:hover)) > .scheda {
    padding-top: 15%;
}
.faded {
    width: 100%;
    text-align: center;
    position: absolute;
    background-color: var(--shade8);
    top: 0;
    left: 0;
    opacity: 0;
    transition: text-shadow 200ms ease-in-out, opacity 200ms ease-in-out;
}
.dark .faded {
    background-color: var(--shade1);
}
.scheda:hover .faded {
    opacity: 1;
}
.linkScheda {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .grid {
        flex-wrap: wrap;
    }
    .scheda, .scheda:hover {
        width: 100%;
        padding-top: 15%;
    }
    .grid:has(.scheda:hover) > .scheda{
        width: 100%;
        padding-top: 15%;
    }
    .grid:has(.scheda:hover) .scheda:not(:hover) {
        width: 100%;
        padding-top: 15%;
    }
    div:has(.grid .scheda:hover) > .grid:not(:has(.scheda:hover)) > .scheda {
        width: 100%;
       padding-top: 15%;
    }
    .faded {
        opacity: 1;
    }
    .backgroundScheda {
        filter:grayscale(0)
    }
}