.box, .dark .box {
    box-shadow: none;
}

.red, .dark .red {
    color: red;
}
.black, .dark .black {
    color: black;
}
.green {
    color: green;
}
.dark .green {
    color: lime;
}

div.code {
    background-color: var(--shade1);
}
.dark div.code {
    background-color: var(--shade8);
}
line {
    color: var(--shade8);
}
.dark line {
    color: var(--shade4);
}
div.code::before {
    counter-reset: listing;
}
div.code line {
    counter-increment: listing;
    white-space: pre-wrap;
    font-family: monospace;
}
div.code line::before {
    content: counter(listing) ". ";
    display: inline-block;
    width: 3em;
    text-align: right;
}
div.code line::after {
    content: "\A";
    white-space: pre;
}
div.code b, div.code a {
    color: var(--shade8)
}
.dark div.code b, .dark div.code a {
    color: var(--shade4)
}

/* slider */
input[type="range"] {
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    height: 20px;
    border: 3px var(--shade1) solid;
    border-radius: 10px;
    background-color: var(--shade7);
    transition: border-radius 100ms ease;
}
.dark input[type="range"] {
    border: 3px var(--shade8) solid;
    background-color: var(--shade2);
}
input[type="range"]:disabled {
    background-color: transparent;
}
input[type="range"]:not([disabled]):hover {
    border-radius: 0px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border: 3px var(--shade1) solid;
    border-radius: 50%;
    background-color: var(--shade1);
    transition: border-radius 100ms ease;
}
input[type=range]:not([disabled]):hover::-webkit-slider-thumb {
    border-radius: 0%;
}

.dark input[type=range]::-webkit-slider-thumb {
    border: 3px var(--shade8) solid;
    background-color: var(--shade8);
}
input[type=range]:disabled::-webkit-slider-thumb {
    background-color: transparent;
}


/*large button*/
.large-button {
    background: var(--shade7);
    border: 3px solid var(--shade1);
    border-radius: 20px;
    height: 40px;
    color: var(--shade1);
    width: 100%;
    font-size: x-large;
    transition: border-radius 100ms ease;
}
.dark .large-button {
    background: var(--shade2);
    border: 3px solid var(--shade8);
    color: var(--shade8);
}
.large-button:not([disabled]):hover {
    border-radius: 0px;
}
.large-button:disabled {
    background-color: transparent;
}

/*number output*/
.number-out {
    color: var(--shade1);
    border: 3px solid var(--shade1);
    font-size: 1.5em;
    height: 50px;
    padding: 10px;
    border-radius: 35px;
}
.dark .number-out {
    color: var(--shade8);
    background-color: var(--shade2);
    border: 3px solid var(--shade8);
}



label {
    font-size: 1.5em;
}